@import url("https://use.typekit.net/ejm3ame.css");

:root {
  /* --font-sans: "Proxima Nova", sans-serif; */
  --font-sans: "brother-1816",sans-serif;
  /* --font-header: "Southbank LT", "Proxima Nova", sans-serif; */
  --font-header: "brother-1816",sans-serif;
  /* --font-navigation: "Southbank LT", "Proxima Nova", sans-serif; */
  --font-navigation: "brother-1816",sans-serif;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  background-color: #fafafa;
}

body {
  font-family: var(--font-sans);
  /* font-size: 15px; */
  font-size: 0.85rem;
  line-height: 1.3rem;
  color: #444;
  /* padding-top: 50px; */
  font-weight: 300;
}
@media (min-width: 800px) {
  body {
    padding-top: 60px;
  }
}

a {
  color: #444;
  text-decoration: none;
  display: inline-block;
  border-bottom: dotted 1px #666;
}
a:hover {
  color: #222;
  border-style: solid;
  border-color: #222;
}

i {
  font-style: italic;
}

.main-nav {
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding: 30px 15px 30px 15px;
  z-index: 2;
  font-family: var(--font-navigation);
  font-size: 1.3rem;
  letter-spacing: -0.05rem;
  font-weight: 600;
  line-height: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 800px) {
  .main-nav {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    position: fixed;
    top: 20px;
    text-align: left;
    padding-top: 0px;
  }
  .main-nav nav {
    text-align: right;
  }
}

.post {
  margin-bottom: 20px;
  display: grid;
  width: 100vw;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "content" "caption";
  grid-gap: 0px;
  text-align: center;
}
.post img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* transition: all 0.1s; */
}

img.lazyload,
img.lazyloading {
  transform: scale(0.8);
  max-width: 299px !important;
  height: auto !important;
  opacity: 0.05;
  padding: 20vh 0;
}
.lazyloaded {
  opacity: 1;
  animation: photo-load 0.5s;
}
@keyframes photo-load {
  0%   { opacity:0; }
  100%   { opacity: 1; }
}

.post-content {
  grid-area: content; 
  display: grid;
}
.post-caption {
  grid-area: caption;
  color: #777;
}

@media (min-width: 600px) {
  .post img {
    max-width: calc(100vw - 10px);
  }
  .post-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a" ;
    grid-gap: 5px;
    padding: 0 5px;
  }
  .post-content div:nth-child(1) {
    grid-area: a;
  }
  .post-content div:nth-child(2) {
    grid-area: b;
  }
  .post-content div:nth-child(3) {
    grid-area: c;
  }
  .post-content div:nth-child(4) {
    grid-area: d;
  } 
  .v1 .post-content {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "a" ;
    text-align: center;
  }
  .v2 .post-content {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b" ;
  }
  .v2 .post-content div:nth-child(1) {
    text-align: right;
  }
  .v2 .post-content div:nth-child(2) {
    text-align: left;
  }
  .h2 .post-content {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b" ;
  }
  .h3 .post-content,
  .v3 .post-content {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c" ;
  }
  .v4 .post-content,
  .h4 .post-content {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b" "c d" ;
  }
  .vhh3 .post-content {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b" "a c" ;
  }

  .vhh3 .post-content div:nth-child(1) img {
    max-height: calc(100vh);
    max-width: calc(50vw);
    height: auto;
    width: auto;
  }
  .vhh3 .post-content div:nth-child(2) img,
  .vhh3 .post-content div:nth-child(3) img {
    max-height: calc(50vh - 2.5px);
    max-width: calc(50vw - 15px);
    height: auto;
    width: auto;
  }
  .vhh3 .post-content div {
    display: grid;
    justify-content: end;
    align-content: center;
  }
  .vhh3 .post-content div:nth-child(2) {
    justify-content: start;
    align-content: end;
  }
  .vhh3 .post-content div:nth-child(3) {
    justify-content: start;
    align-content: start;
  }

}
@media (min-width: 1000px) {
  .h1 img,
  .v1 img,
  .v2 img {
    height: calc(100vh - 20px);
    width: auto;
  }
  .h2 .post-content {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b" ;
  }

  .h4 .post-content div {
    display: grid;
  }
  .h4 .post-content div:nth-child(1) {
    justify-content: end;
    align-content: end;
  }
  .h4 .post-content div:nth-child(3) {
    justify-content: end;
    align-content: start;
  }
  .h4 .post-content div:nth-child(2) {
    justify-content: start;
    align-content: end;
  }
  .h4 .post-content div:nth-child(4) {
    justify-content: start;
    align-content: start;
  }
}

.about {
  margin: 0 auto;
}
@media (min-width: 500px) {
  .about {
    width: 500px;
  }
}

.about h2 {
  font-family: var(--font-header);
  font-size: 1.3rem;
  letter-spacing: -0.05rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  font-weight: 800;
  padding: 24px 15px 0 15px;
}

.about p {
  /* line-height: 22px; */
  padding: 12px 15px 0 15px;
  font-family: var(--font-sans);
}

.about img {
  width: 100%;
  height: auto;
  padding-bottom: 12px;
  /* padding-top: 25px; */
}

.fin {
  font-family: var(--font-header);
  font-size: 1.3rem;
  letter-spacing: -0.05rem;
  line-height: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding: 100px 0 150px 0;
}