:root {
  --font-sans: "Proxima Nova", sans-serif;
  --font-header: "Southbank LT", "Proxima Nova", sans-serif;
  --font-navigation: "Southbank LT", "Proxima Nova", sans-serif;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  background-color: #fafafa;
}

body {
  font-family: var(--font-sans);
  font-size: 15px;
  color: #444;
  padding-top: 36px;
}

a {
  color: #444;
  text-decoration: none;
  display: inline-block;
  border-bottom: dotted 1px #666;
}
a:hover {
  color: #222;
  border-style: solid;
  border-color: #222;
}

i {
  font-style: italic;
}

.main-nav {
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  top: 13px;
  padding: 0 15px 30px 15px;
  z-index: 2;
  font-family: var(--font-navigation);
  font-size: 18px;
  text-align: center;
}
@media (min-width: 800px) {
  .main-nav {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    position: fixed;
    text-align: left;
  }
  .main-nav nav {
    text-align: right;
  }
}

.post {
  margin-bottom: 20px;
  display: grid;
  width: 100vw;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "content" "caption";
  grid-gap: 0px;
  text-align: center;
}
.post img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  transition: all 0.1s;
}

.lazyload img,
.lazyloading img {
  transform: scale(0.5);
  opacity: 0.1;
}
.lazyloaded {
  opacity: 1;
  transform: scale(1)
}

.post-content {
  grid-area: content; 
  display: grid;
}
.post-caption {
  grid-area: caption;
  opacity: 0.8;
}

@media (min-width: 600px) {
  .post img {
    max-width: calc(100vw - 10px);
  }
  .post-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a" ;
    grid-gap: 5px;
    padding: 5px;
  }
  .post-content div:nth-child(1) {
    grid-area: a;
  }
  .post-content div:nth-child(2) {
    grid-area: b;
  }
  .post-content div:nth-child(3) {
    grid-area: c;
  }
  .post-content div:nth-child(4) {
    grid-area: d;
  } 
  .v1 .post-content {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "a" ;
    text-align: center;
  }
  .v2 .post-content {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b" ;
  }
  .v2 .post-content div:nth-child(1) {
    text-align: right;
  }
  .v2 .post-content div:nth-child(2) {
    text-align: left;
  }
  .h2 .post-content {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b" ;
  }
  .h3 .post-content,
  .v3 .post-content {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c" ;
  }
  .v4 .post-content,
  .h4 .post-content {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b" "c d" ;
  }
  .vhh3 .post-content {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b" "a c" ;
  }

  .vhh3 .post-content div:nth-child(1) img {
    max-height: calc(100vh);
    max-width: calc(50vw);
    height: auto;
    width: auto;
  }
  .vhh3 .post-content div:nth-child(2) img,
  .vhh3 .post-content div:nth-child(3) img {
    max-height: calc(50vh - 2.5px);
    max-width: calc(50vw - 15px);
    height: auto;
    width: auto;
  }
  .vhh3 .post-content div {
    display: grid;
    justify-content: end;
    align-content: center;
  }
  .vhh3 .post-content div:nth-child(2) {
    justify-content: start;
    align-content: end;
  }
  .vhh3 .post-content div:nth-child(3) {
    justify-content: start;
    align-content: start;
  }

}
@media (min-width: 1000px) {
  .h1 img,
  .v1 img,
  .v2 img {
    height: calc(100vh - 20px);
    width: auto;
  }
  .h2 .post-content {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b" ;
  }

  .h4 .post-content div {
    display: grid;
  }
  .h4 .post-content div:nth-child(1) {
    justify-content: end;
    align-content: end;
  }
  .h4 .post-content div:nth-child(3) {
    justify-content: end;
    align-content: start;
  }
  .h4 .post-content div:nth-child(2) {
    justify-content: start;
    align-content: end;
  }
  .h4 .post-content div:nth-child(4) {
    justify-content: start;
    align-content: start;
  }
}

.about {
  margin: 0 auto;
}
@media (min-width: 500px) {
  .about {
    width: 500px;
  }
}

.about h2 {
  font-family: var(--font-header);
  font-size: 25px;
  font-weight: bold;
  padding: 24px 15px 0 15px;
}

.about p {
  line-height: 22px;
  padding: 12px 15px 0 15px;
  font-family: var(--font-sans);
}

.about img {
  width: 100%;
  height: auto;
  padding-bottom: 12px;
  /* padding-top: 25px; */
}

.about .end {
  text-align: center;
  color: #222;
  font-size: 24px;
  font-family: var(--font-sans);
  padding-bottom: 100px;
}