* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: rgba(1, 0,0,0.1)
}

html, body {
  background-color: #fafafa;
}

body {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 15px;
  color: #444;
}

@media screen and (max-width: 900px) {
  body {
    padding-top: 32px;
  }
}

a {
  color: #444;
  text-decoration: none;
  display: inline-block;
  border-bottom: dotted 1px #666;
}
a:hover {
  color: #222;
  border-style: solid;
  border-color: #222;
}

i {
  font-style: italic;
}


.main-nav {
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0;
  position: fixed;
  top: 13px;
  padding: 0 15px;
  z-index: 2;
  font-size: 18px;
}

.main-nav nav {
  text-align: right;
}

.post {
  height: 100vh;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 50px;
  grid-template-areas: "content" "caption";
  grid-gap: 10px;
}

.post-content {
  grid-area: content; 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a" ;
}

.post-content div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-content div:nth-child(1) {
  grid-area: a;
}
.post-content div:nth-child(2) {
  grid-area: b;
}
.post-content div:nth-child(3) {
  grid-area: c;
}
.post-content div:nth-child(4) {
  grid-area: d;
} 

.h2 .post-content,
.v2 .post-content {
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-template-areas: "a b" ;
}
.v2 .post-content div:nth-child(1),
.h2 .post-content div:nth-child(1) {
  justify-content: flex-end;
}
.v2 .post-content div:nth-child(2),
.h2 .post-content div:nth-child(2) {
  justify-content: flex-start;
}

.h3 .post-content,
.v3 .post-content {
  grid-template-rows: 1fr;
  grid-template-columns: auto auto auto;
  grid-template-areas: "a b c" ;
}
.v3 .post-content div:nth-child(1),
.h3 .post-content div:nth-child(1) {
  justify-content: flex-end;
}
.v3 .post-content div:nth-child(2),
.h3 .post-content div:nth-child(2) {
  justify-content: center;
}
.v3 .post-content div:nth-child(3),
.h3 .post-content div:nth-child(3) {
  justify-content: flex-start;
}

.h4 .post-content,
.v4 .post-content {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b" "c d" ;
}
.v4 .post-content div:nth-child(1),
.h4 .post-content div:nth-child(1),
.v4 .post-content div:nth-child(3),
.h4 .post-content div:nth-child(3) {
  justify-content: flex-end;
}
.v4 .post-content div:nth-child(2),
.h4 .post-content div:nth-child(2),
.v4 .post-content div:nth-child(4),
.h4 .post-content div:nth-child(4) {
  justify-content: flex-start;
}

.post-caption {
  grid-area: caption;
  text-align: center;
  font-size: 13px;
  font-family: "Lora", Georgia, serif;
}

.post img {
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
}

.about {
  padding-top: 60px;
  width: 500px;
  margin: 0 auto;
}

.about h2 {
  font-family: "Southbank LT", "Proxima Nova", serif;
  font-size: 25px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.about p {
  line-height: 22px;
  padding-bottom: 12px;
  font-family: "Lora", "Proxima Nova", sans-serif;
}

.about img {
  width: 100%;
  height: auto;
  padding-bottom: 12px;
  padding-top: 25px;
}

.about .end {
  text-align: center;
  color: #222;
  font-size: 24px;
  font-family: "Lora", "Proxima Nova", sans-serif;
  padding-bottom: 100px;
}